<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://222.73.63.131/ztws/2015091502IOS/simba-publish-ebony-20150915build0054.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ztgame.fir.simba</string>
				<key>bundle-version</key>
				<string>e1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>征途无双</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
